{% extends('GalileoSimpleBetMainBundle::layout.html.twig') %}

{% block top_left %}
    {{ include('GalileoSimpleBetMainBundle:Tournament:logo.html.twig', {'tournament': tournament}) }}
    <h2>{% block subtitle %}{% endblock %}{{ tournament.name }}</h2>
{% endblock %}

{% block top_right %}
    <div class="panel panel-default">
        <div class="panel-heading">
            {{ render(controller("gsbm.controller.tournament:winnerAward", {'tournamentId': tournament.id})) }}
            Top 5
        </div>
        {{ render(controller("gsbm.controller.player:tournamentPlayerStatsAction", {'tournament': tournament, 'limit': 5})) }}
        <div class="text-center">

            <a href="{{ path('gsbm_tournament_player_standings', {'tournamentId': tournament.id}) }}">
                &gt; pełna tabela
            </a>
        </div>
    </div>
{% endblock %}

{% block top %}
    {% if app.user %}
        {% if tournament.isActive == 0 %}
            <p class="alert alert-danger text-center">Ten turniej został już zakończony.</p>
        {% else %}
            {{ render(controller('gsbm.controller.player:viewPlayerToTournamentAction', {'tournamentId': tournament.id })) }}
        {% endif %}

    {% endif %}
{% endblock %}

{% block content %}
    {% for stage in tournament.stages %}
        {{ include('GalileoSimpleBetMainBundle:TournamentStage:viewMatches.html.twig', {'type': 'table', 'stage': stage}) }}
    {% endfor %}
{% endblock %}

{% block footer %}
    {{ include('@GalileoSimpleBetMain/Tournament/menuView.html.twig') }}
{% endblock %}
