{% extends('GalileoSimpleBetMainBundle::layout.html.twig') %}

{% block top_left %}
    {{ include('GalileoSimpleBetMainBundle:Tournament:logo.html.twig', {'tournament': tournament}) }}
    <h2>{{ tournament.name }}</h2>
{% endblock %}

{% block top_right %}
    <div class="panel panel-default">
        <div class="panel-heading">Top 5</div>
        {{ render(controller("gsbm.controller.player:tournamentPlayerStatsAction", {'tournament': tournament, 'limit': 5})) }}
    </div>
{% endblock %}

{% block top %}
    {% if tournament.isActive == 0 %}
        <p class="alert alert-danger text-center">Ten turniej został już zakończony.</p>
    {% endif %}
    {{ include('@GalileoSimpleBetMain/Tournament/menuView.html.twig') }}
{% endblock %}

{% block content %}
    {% for stage in tournament.stages %}
        {{ include('GalileoSimpleBetMainBundle:TournamentStage:viewMatches.html.twig', {'type': 'table', 'stage': stage}) }}
    {% endfor %}
{% endblock %}

{% block sidebar %}
    {% if app.user %}
        {{ panel('Rezultaty typów:', render(controller('gsbm.controller.statistics:getBetAccuracyStatsView', {'tournamentId': tournament.id }))) }}
        {{ panel('Informacje', render(controller("gsbm.controller.player:viewPlayerToTournamentAction", {'tournamentId': tournament.id}))) }}
        {{ panel('Wszyscy zawodnicy:', render(controller("gsbm.controller.player:tournamentPlayerStatsAction", {'tournament': tournament})),{'skipBody': true}) }}
        {{ panel('Czat:', render(controller('gsbm.controller.chat_message:viewChatMessagesAction', {'tournamentId': tournament.id})), {'skipBody': true}) }}
    {% endif %}
{% endblock %}