<h4>{{ stage.name }}</h4>
<table class="table table-condensed">
    <tr>
        <th colspan="2">Drużyny</th>
        <th>Wynik</th>
    </tr>
    {% for game in stage.games %}
        <tr>
            <td><span class="label label-default">
                {{ game.bets.count }}
                </span>
            </td>
            <td class="text-center">
                <span class="pull-left">{{ game.date|date }}</span><span>{{ game.homeTeam }}
                    - {{ game.awayTeam }}</span>
            </td>
            <td>
                {{ label(game.score) }}
                {% if app.user %}
                    {% if game.betAble %}
                        <a href="{{ path('gsbm_tournament_view_game_bets', {'tournamentId': stage.tournament.id, 'gameId' : game.id}) }}">
                            {% if game.yourBet %}
                                {{ label_primary(game.yourBet) }}
                            {% else %}
                                Typuj
                            {% endif %}
                        </a>
                    {% else %}
                        {% if game.yourBet %}
                            {{ label_primary(game.yourBet) }}
                        {% else %}

                        {% endif %}
                        Dołącz do turnieju
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>