<div>
    Perfekcyjne: {{ betStatistics.getPerfectPercentage }}%
    Dobre: {{ betStatistics.getGoodPercentage }}%
    Chybione: {{ betStatistics.getBadPercentage }}%
</div>
<div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ betStatistics.getPerfectPercentage }}" aria-valuemin="0"
         aria-valuemax="100" style="width: {{ betStatistics.getPerfectPercentage }}%">
        <span class="sr-only">{{ betStatistics.getPerfectPercentage }}% </span>
    </div>
    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ betStatistics.getGoodPercentage }}" aria-valuemin="0"
         aria-valuemax="100" style="width: {{ betStatistics.getGoodPercentage }}%">
        <span class="sr-only">{{ betStatistics.getGoodPercentage }}% </span>
    </div>
    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ betStatistics.getBadPercentage }}" aria-valuemin="0"
         aria-valuemax="100" style="width: {{ betStatistics.getBadPercentage }}%">
        <span class="sr-only">{{ betStatistics.getBadPercentage }}% </span>
    </div>
</div>