{% extends('GalileoSimpleBetMainBundle::layout.html.twig') %}

{% block content %}
    <h1>Mecze</h1>
    {% for game in games %}
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <p><strong>{{ game.tournamentStage.name }}</strong> {{ game.homeTeam.name }} - {{ game.awayTeam.name }} {{ game.score.home }}:{{ game.score.away }}</p>
            </div>
            <div class="col-xs-1 col-sm-1">
                <span class="btn btn-danger"> 2:1 </span>
            </div>
</div>
        <div class="row">

            <div class="col-xs-4 col-sm-8">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" style="width: 35%"><span
                                        class="sr-only">35% Complete (success)</span></div>
                            <div class="progress-bar progress-bar-warning" style="width: 20%"><span
                                        class="sr-only">20% Complete (warning)</span></div>
                            <div class="progress-bar progress-bar-danger" style="width: 10%"><span
                                        class="sr-only">10% Complete (danger)</span></div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" style="width: 80%"><span
                                        class="sr-only">35% Complete (success)</span></div>
                            <div class="progress-bar progress-bar-warning" style="width: 15%"><span
                                        class="sr-only">20% Complete (warning)</span></div>
                            <div class="progress-bar progress-bar-danger" style="width: 5%"><span
                                        class="sr-only">10% Complete (danger)</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
