<!-- src/Acme/DemoBundle/Resources/views/layout.html.twig -->

<!DOCTYPE html>
<html>
<head>

    <title>Kto to wygra pl: {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">

    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Kto to wygra?</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ path('homepage') }}">Home</a></li>
                {% if app.user %}
                    <li><a href="">Cześć: {{ app.user.firstName }}</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">
                            <sapn class="badge">Wyloguj</sapn>
                        </a></li>
                {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}">Zaloguj</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

<div class="content container">
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
</div>

<div class="container theme-showcase" role="main">
    <div class="jumbotron">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="flash-notice">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% block top %}{% endblock %}
    </div>
    <div class="row">
        {% include 'BraincraftedBootstrapBundle::flash.html.twig' %}
    </div>
    <div class="row">
        <div class="col-sm-7 col-md-6">
            {% block content %}{% endblock content %}
        </div>
        <div class="col-sm-5 col-md-6">
            {% block sidebar %}{% endblock sidebar %}
        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
<script src="{{ asset('js/jquery.js') }}"></script>
<!-- Include all JavaScripts, compiled by Assetic -->
<script src="{{ asset('js/bootstrap.js') }}"></script>
</body>
</html>
