<!DOCTYPE html>
<html>
<head>

    <title>Kto to wygra pl: {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('css/main.css') }}" rel="stylesheet" media="screen">

    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">Kto to wygra?</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ path('homepage') }}">Home</a></li>
                {% if app.user %}
                    <li><a href="">Cześć: {{ app.user.firstName }}</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">
                            <sapn class="badge">Wyloguj</sapn>
                        </a></li>
                {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}">Zaloguj</a></li>
                    <li><a href="{{ path('fos_user_registration_register') }}">Zarejestruj</a></li>
                    <li><a href="{{ path('fos_user_resetting_request') }}">Przypomnij hasło</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

<div class="main-content container theme-showcase" role="main">
    <div class="row">
        <div class="col-sm-8 col-md-9">
            {% block top_left %}{% endblock %}
        </div>
        <div class="col-sm-4 col-md-3">
            {% block top_right %}{% endblock %}
        </div>
    </div>

    <div class="row">{% block top %}{% endblock %}</div>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <hr />
    <div class="row">
        {% include 'BraincraftedBootstrapBundle::flash.html.twig' %}
    </div>
    <div class="row">
        <div class="col-sm-5 col-md-6 sidebar">
            {% block sidebar %}{% endblock sidebar %}
        </div>
        <div class="col-sm-7 col-md-6 content">
            {% block content %}{% endblock content %}
        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
<script src="{{ asset('js/jquery.js') }}"></script>
<!-- Include all JavaScripts, compiled by Assetic -->
<script src="{{ asset('js/bootstrap.js') }}"></script>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-1015424-19', 'ktotowygra.pl');
    ga('send', 'pageview');

</script>

</body>
</html>
