<table class="table table-condensed table-hover table-striped">
    <tr>
        <th>#</th>
        <th>Zawodnik</th>
        <th title="Typy">T</th>
        <th title="Ilosc goli roznicy">R/G</th>
        <th title="Punkty">P</th>
        <th title="Punkty zdobyte dzisiaj">D</th>
    </tr>
    {% for betStat in playerStats %}
        <tr {% if (app.user) and (app.user.id == betStat.player.id) %}class="me"{% endif %}>
            <td>{{ loop.index }}</td>
            <td>{{ betStat.player|championship|raw }}
                {{ betStat.player|display_name }}</td>
            <td>{{ betStat.totalBets }}</td>
            <td>{{ betStat.smallPoints }}</td>
            <td>{{ label_success(betStat.totalPoints) }}</td>
            {% if todayPoints is defined %}
                <td class="todayPoints">
                    {% if todayPoints.playerPoints(betStat.player) > 0 %}
                        +{{ todayPoints.playerPoints(betStat.player) }}
                    {% endif %}
                </td>
            {% endif %}
        </tr>
    {% endfor %}
</table>
