<table class="table table-condensed table-hover table-striped">
    {#<tr>#}
        {#<th></th>#}
        {#<th>Zawodnik</th>#}
        {#<th>Typy</th>#}
        {#<th>%</th>#}
        {#<th>Punkty</th>#}
    {#</tr>#}
    {% for betStat in playerStats %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ betStat.player|display_name }}</td>
            <td><span class="label label-primary">{{ betStat.totalBets }}</span></td>
            <td><span class="label label-default">{{ betStat.pointsPerBet|round(2) }}</span></td>
            <td class="text-right">{{ label_success(betStat.totalPoints) }}</td>
        </tr>
    {% endfor %}
</table>