<td>{{ label(game.bets.count) }}</td>
<td class="text-center">
    <span class="pull-left">{{ game.date|date }}</span>
    <span>{{ game.homeTeam }} - {{ game.awayTeam }}</span>
</td>
<td>
    {{ game.score|game_bet(game.yourBet)|raw }}
    {% if app.user %}
        {% if game.availableForCurrentPlayer %}
            <a href="{{ path('gsbm_tournament_view_game_bets', {'tournamentId': tournament.id, 'gameId' : game.id}) }}">
                {% if game.isActive %}
                    <span class="glyphicon glyphicon-edit"></span>
                {% else %}
                    <span class="glyphicon glyphicon-list"></span>
                {% endif %}
            </a>
        {% else %}
            Dołącz do nas
        {% endif %}
    {% endif %}
</td>